/* format images*/

img {
    max-width: 100%;
}

/* Couleurs BG */
body {
    background-color: var(--beige);
}


/*Typo Titres*/
li {
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Typo Titres*/

h1,
h2,
h3 {
    font-family: var(--ubuntu)
}

p,
span,
ul {
    font-family: var(--lato);
}

hr {
    margin: 20px;
    color: var(--beige);
}

.marginl {
    margin-left: 20px;
}

p.padding {
    padding-left: 20px;
    padding-right: 20px;
}

p.droite {
    margin-left: 60%;

}