/**
   * format images
   */

img {
    max-width: 100%;
}

/**
   * Couleurs BG
   */
body {
    background-color: var(--beige);
}

/**
   * Typo Titres
   */

h1,
h2,
h3 {
    font-family: var(--ubuntu)
}

p,
span,
ul {
    font-family: var(--lato);
}