:root {
    /* Color styles */
    --rouge: rgba(189, 23, 44, 1);
    --beige: rgba(250, 240, 224, 1);
    --noir: rgba(58, 57, 65, 1);

    /* Text-size styles */
    --chapô: 1.1875rem;
    --titre-article: 2.5rem;
    --corps: 1rem;
    --nav-menu: 1rem;
    --footer: 1.125rem;
    --sous-titre: 1.1875rem;
    --alt-image: 0.875rem;

    /* font family styles */
    --lato: 'Lato', sans-serif;
    --ubuntu: 'Ubuntu', sans-serif;
}

;