/* Grids cards */
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 20px;
}

/* "Fond" */
.div1 {
    grid-area: 1 / 1 / 5 / 6;
    background-color: var(--noir);
    border-radius: 20px;
}

/* bouton */
.alignementbouton {
    align-self: center;
}

.div2 {
    grid-area: 4 / 1 / 6 / 4;
    margin-top: 20px;
    margin-left: 30px;
}

/* Texte titre */
.div3 {
    grid-area: 1 / 1 / 5 / 3;
    align-items: center;
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: var(--ubuntu);
    color: var(--beige);
    font-size: 20px;

}

/* image */
.arrondie {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.div4 {
    grid-area: 1 / 3 / 5 / 6;
    margin-left: auto;
    width: 90%;
    display: flex;
    vertical-align: auto;
    border: 3px;
    border-radius: 20px;
    border-style: solid;
    border-color: var(--noir);
}

#logo {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 30%;
}

#scrollup {
    margin-left: 80%;
}


.margin {
    margin-top: 40px;
}

.paddingarticles>* {
    padding-left: 20px;
    padding-right: 20px;
}

p.paddingtexte {
    padding-top: 40px;
}

p.paddingtexte:last-child {
    padding-bottom: 20px;
}

input:invalid {
    animation: shake .3s;
    style
}

@keyframes shake {
    25% {
        transform: translateX(4px)
    }

    50% {
        transform: translateX(-4px)
    }

    75% {
        transform: translateX(4px)
    }
}