.header_logo {
    display: block;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin: auto;
}


#scrollup {
    margin-left: 80%;

}




.margin {
    margin-top: 2.5rem;
}

.paddingarticles>* {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

p.paddingtexte {
    padding-top: 2.5rem;
}

p.paddingtexte:last-child {
    padding-bottom: 1.25rem;
}

.apropos_image {
    width: 50%;
}

.apropos_figcapture {
    font-weight: bold;
    font-size: 1.5rem;
}

.apropos_p {
    padding-left: 1.25rem;
    margin-top: 1.875rem;
    padding-right: 1.25rem;
}

.miseenformeicones_ul {
    margin-left: 45%;
    display: flex;
    justify-content: space-between;
    padding-right: 1.25rem;
    padding-bottom: 2rem;
}

.miseenformeicones_li {
    width: 2.1875rem;
}

.test {
    background-position: bottom;
}

.buttoncontact {
    padding: 1.25rem;
    font-size: var(--chapô);
    margin-left: 70%;
}