/* Grids cards */
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    padding: 1.25rem;
}

/* "Fond" */
.div1 {
    grid-area: 1 / 1 / 5 / 6;
    background-color: var(--noir);
    border-radius: 1.25rem;
}

/* bouton */
.alignementbouton {
    align-self: center;
    vertical-align: middle;
}

.div2 {
    grid-area: 4 / 1 / 6 / 4;
    margin-top: 1.25rem;
    margin-left: 1.875rem;
}

/* Texte titre */
.div3 {
    grid-area: 1 / 1 / 5 / 3;
    align-items: center;
    margin-left: 1.875rem;
    margin-top: auto;
    margin-bottom: auto;
    font-family: var(--ubuntu);
    color: var(--beige);
    font-size: 1.25rem;

}

/* image */
.arrondie {
    -moz-border-radius: 1.25rem;
    -webkit-border-radius: 1.25rem;
    border-radius: 1.25rem;
}

.div4 {
    grid-area: 1 / 3 / 5 / 6;
    margin-left: auto;
    width: 90%;
    display: flex;
    vertical-align: auto;
    border: 0.1875rem;
    border-radius: 1.25rem;
    border-style: solid;
    border-color: var(--noir);
}

.logo {
    display: block;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin: auto;
}


#scrollup {
    margin-left: 80%;
}


.margin {
    margin-top: 2.5rem;
}

.paddingarticles>* {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

p.paddingtexte {
    padding-top: 2.5rem;
}

p.paddingtexte:last-child {
    padding-bottom: 1.25rem;
}

.apropos_image {
    width: 50%;
}

.apropos_figcapture {
    font-weight: bold;
    font-size: 1.5rem;
}

.apropos_p {
    padding-left: 1.25rem;
    margin-top: 1.875rem;
    padding-right: 1.25rem;
}

.miseenformeicones_ul {
    margin-left: 45%;
    display: flex;
    justify-content: space-between;
    padding-right: 1.25rem;
    padding-bottom: 2rem;
}

.miseenformeicones_li {
    width: 2.1875rem;
}