.contact-main{
    padding: 20px;
}
.contact-tel{
    padding-top: 30px;
    padding-bottom: 30px;

}
.contact-object{
    margin-bottom: 20px;
    max-width: 70% ;
}
.contact-textearea{
    min-width: 90%;
    min-height: 260px;
}