
div.frise_parent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top:  170px;
    margin-bottom: 250px;

}
.frise_image_border_radius {
    border-radius: 100%;
    border: 15px solid var(--beige);
    margin-top: -50px;
}

.frise_figure_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 50%;
    right: 0;
}

.frise_figure_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 50%;
    margin-top: 270px;
 left: 0;
}
.frise_figure_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 50%;
    margin-top: 540px;
 right: 0;
}
.frise_figure_4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 50%;
    margin-top: 810px;
 left: 0;
}

.frise_figcaption {
    position: absolute;
    bottom: 6px;
    background-color: var(--noir);
    border-radius: 2.5px ;
    color: var(--beige);
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 400;
    font-family: var(--ubuntu);
    min-width: 160px;
    display: flex;
    justify-content: center;
}