.nav-toggle {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
}

.nav-toggle-bar,
.nav-toggle-bar::before,
.nav-toggle-bar::after {
    content: "";
    background-color: black;
    width: 100%;
    
    height: 2px;
    position: absolute;
    left: 0;
    
}
.nav-toggle-bar::before {
    top: -10px;
}
.nav-toggle-bar::after {
    top: 10px;
}

.menu-open .nav-toggle-bar {
transform: rotate(135deg);
background-color: white;
}
.menu-open .nav-toggle-bar::before,
.menu-open .nav-toggle-bar::after {
transform: rotate(90deg);
background-color: white;
top: 0;

}


.menu {
    background-color: midnightblue;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
transform: translateX(100vw);
transition: all 1s;
z-index: 1;
}

.menu-open .menu{
    transform: translateX(0);
}
.menu-open,
.menu-open body {
    overflow: hidden;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 2.3rem;;
    text-transform: uppercase;
}

.menu li{
    margin-bottom: 30px;
}

.menu a {
    color: white;
}

