/* Grids cards */
.Card_parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 20px;
}

/* "Fond" */
.Card_bg {
    grid-area: 1 / 1 / 5 / 6;
    background-color: var(--noir);
    border-radius: 20px;
}

/* bouton */
.Card_btn_align {
    align-self: center;
    vertical-align: middle;
}

.Card_btn {
    grid-area: 4 / 1 / 6 / 4;
    margin-top: 20px;
    margin-left: 30px;
}

/* Texte titre */
.Card_txt {
    grid-area: 1 / 1 / 5 / 3;
    align-items: center;
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: var(--ubuntu);
    color: var(--beige);
    font-size: 20px;

}

/* image */
.Card_border_radius {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.Card_img {
    grid-area: 1 / 3 / 5 / 6;
    margin-left: auto;
    width: 90%;
    display: flex;
    vertical-align: auto;
    border: 3px;
    border-radius: 20px;
    border-style: solid;
    border-color: var(--noir);
}
.Card_parent span{
    font-family: var(--ubuntu);
    line-height: 0.0625rem;
}
.Card_span_WA{
    color: var(--beige);
    font-size: 2.0625rem;
}
.Card_span_WA2{
    color: var(--beige);
    font-size: 0.875rem;
    line-height: 1em;
    font-style: italic;
}
.Card_span_KINKAKU{
    color: var(--beige);
    font-size: 1.25rem;
}
.Card_span_KINKAKU2{
    color: var(--beige);
    font-size: 0.875rem;
    line-height: 1em;
    font-style: italic;
}
.Card_span_CASTLE{
    color: var(--beige);
    font-size: 1.1875rem;
}
.Card_span_MUSIC{
    color: var(--beige);
    font-size: 2.0625rem;
}
.Card_span_MUSIC2{
    color: var(--beige);
    font-size: 0.875rem;
    line-height: 1em;
    font-style: italic;
}
.Card_span_FUKUSHIMA{
    color: var(--beige);
    font-size: 1.25rem;
}
.Card_span_FUKUSHIMA2{
    color: var(--beige);
    font-size: 0.875rem;
    line-height: 1em;
    font-style: italic;
}
.Card_span_RELATIONS{
    color: var(--beige);
    font-size: 1.5rem;
}
.Card_span_RELATIONS2{
    color: var(--beige);
    font-size: 0.875rem;
    line-height: 1em;
    font-style: italic;
}