header {
    top: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: var(--noir);
    position: sticky;
    z-index: 1;
}

footer {
    background-color: var(--noir);
    font-family: var(--lato);
    color: var(--beige);
    padding: 20px;
}

a:-webkit-any-link {
    color: var(--beige);
    cursor: pointer;
    text-decoration: none;
}

button {
    display: inline-block;
    background-color: var(--rouge);
    font-family: var(--ubuntu);
    border-radius: 10px;
    color: var(--beige);
    text-align: center;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
    border: none;

}

button:hover {
    background-color: var(--rouge);
    opacity: 80%;
}

.test {
    display: flex;
}



/* Cards article 1 absolute */
figure.jap {
    position: relative;
    margin: 0 0em;
    padding: 0 1em;
    overflow: hidden;
    padding: 20px;
}

figure.jap::before {
    content: url(../../../public/img/composants/Ellipse17.svg);
    position: absolute;
    bottom: 14px;
    left: 50px;

}

figure.jap::after {
    content: url(../../../public/img/composants/Ellipse18.svg);
    position: absolute;
    right: -40px;
    top: 50px;


}

figure.jap img {
    border-radius: 10px;
}

figure.jap figcaption {
    text-align: right;
}

/* Cards article 1 absolute */
figure.jap2 {
    position: relative;
    margin: 0 0em;
    padding: 0 1em;
    overflow: hidden;
    padding: 20px;
}

figure.jap2::before {
    content: url(../../../public/img/composants/Ellipse19.svg);
    position: absolute;
    top: 0px;
    left: 0px;

}

figure.jap2::after {
    content: url(../../../public/img/composants/Ellipse20.svg);
    position: absolute;
    right: -32px;
    top: 160px;


}

figure.jap2 img {
    border-radius: 10px;
}

figure.jap2 figcaption {
    text-align: right;
}