header {
    position: sticky;
    top: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: var(--noir);
}

footer {
    background-color: var(--noir);
}

/* Cards styles */
card {
    background-color: var(--noir);
    padding: 30px;
}

button {
    display: inline-block;
    background-color: var(--rouge);
    font-family: var(--ubuntu);
    border-radius: 10px;
    color: var(--beige);
    text-align: center;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
    border: none;

}

button:hover {
    background-color: var(--rouge);
    opacity: 80%;
}

.test {
    display: flex;
}